
/*style,*/
/*.resized_image {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E50914;
}

.navbar {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    padding: 0 2%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.navigation__menu{
    list-style-type: none;
    margin-left: 18px;
}

.navbar_logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #E50914;
}

.primary_navigation {
    display: flex;
}

.secondary_navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    margin-right: 10px;
}

.secondary_navigation > div {
    margin-right: 10px;
    background: transparent;
}
.secondary_navigation > div:last-child {
    margin-right: 0;
}

.primary_navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
}

.icon {
    color: #ffffff;
}

.profile_icon {
    border-radius: 4px;
    height: 32px;
    vertical-align: middle;
    width: 32px;
}

/*.best_film {*/
    /*background-color: #a90101;*/
    /*height: 56.25vw;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*z-index: 90;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*margin-top: 0;*/

    /*background-image: url("images/best_film.jpg");*/
    /*background-image: url("images/best_film.jpg");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%;*/
/*}*/

/*.best_film > div{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*}*/

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* Color oscuro con opacidad (0.5) *!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*    align-items: flex-start;*/
/*    color: white; !* Color del texto que estará encima del velo *!*/
/*}*/

/*.overlay h2,*/
/*.overlay p,*/
/*.overlay button {*/
/*    position: relative;*/
/*    left: 20px; !* Ajusta la posición izquierda según tus necesidades *!*/
/*    bottom: 20px; !* Ajusta la posición inferior según tus necesidades *!*/
/*    margin-bottom: 0;*/
/*}*/
/*.overlay h2 {*/
/*    font-size: 24px;*/
/*}*/

/*.overlay p {*/
/*    font-size: 16px;*/
/*}*/

/*.overlay button {*/
/*    background-color: #ffffff;*/
/*    color: #000000;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*}*/

.best_film {
    background-image: url("../images/best_film_test.webp");
    width: 100%;
    height: 100vh; /* Ajusta la altura a tu preferencia */
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Color oscuro con opacidad (0.5) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    color: white; /* Color del texto y botones */
}

.content {
    margin-bottom: 50px; /* Ajusta el espacio entre el contenido y los botones */
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    /*background-color: #E50914; !* Color del botón *!*/
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.play_button{
    background-color: white;
    border-radius: 4px
}
.info_button {
    color: white;
    background-color: gray;
    border-radius: 4px;
}

button:last-child {
    margin-right: 0;
}