
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    padding: 0 2%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.navigation__menu{
    list-style-type: none;
    margin-left: 18px;
}

.navbar_logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #E50914;
}

.primary_navigation {
    display: flex;
}

.secondary_navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    margin-right: 10px;
}

.secondary_navigation > div {
    margin-right: 10px;
    background: transparent;
}
.secondary_navigation > div:last-child {
    margin-right: 0;
}

.primary_navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
}

.icon {
    color: #ffffff;
}

.profile_icon {
    border-radius: 4px;
    height: 32px;
    vertical-align: middle;
    width: 32px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

/* Styles of the modal window */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles for top rated films */

/*.top_rated_films {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    overflow-x: auto;*/
/*}*/

/*.button-film {*/
/*    border: none;*/
/*    background: transparent;*/
/*    cursor: pointer;*/
/*    margin-right: 10px;*/
/*    outline: none;*/
/*}*/

/*.button-film img {*/
/*    max-width: 100px;*/
/*    height: auto;*/
/*}*/

/*.film_thumbnail {*/
/*    width: 150px;*/
/*    height: 220px;*/
/*    object-fit: cover;*/
/*    margin: 10px;*/
/*    cursor: pointer;*/
/*}*/

.container{
    display: grid;
    grid-template-rows: 600px;
    /*grid-template-rows: 2fr 1fr;*/
    /*height: 100vh;*/
    /*height: auto;*/
}

.best_film {
    background-image: url("../images/best_film_test.webp");
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    color: #ffffff;
}

.best_film .content {
    padding: 20px;
    text-align: left;
}

.best_film_title {
    font-size: 24px;
    margin-bottom: 10px;
}

.categories {
    display: flex;
    flex-direction: column;
    /*overflow-x: scroll; !* Scroll horizontal para las categorías *!*/
    overflow: hidden;
    padding: 20px;
}

.top_rated_films .comedy .family .biography {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;

    position: relative;
}

.films {
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 100%);*/
    background-color: black;
    display: flex;
    flex-direction: row;
    /*overflow-x: scroll; !* Scroll horizontal para las películas *!*/
    margin-top: 10px;

    /*flex-wrap: nowrap;*/
    /*overflow: hidden;*/
    /*margin-top: 10px;*/
}

.film {
    background-color: #4b4b4b;
    width: 200px; /* Ancho de cada película */
    height: 140px; /* Alto de cada película */
    margin-right: 10px; /* Espacio entre las películas */
    border-radius: 5px;

    /*background-color: darkcyan;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinear el texto abajo */
    padding: 10px; /* Espacio interno para el texto */
    position: relative;
}

.film h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.buttons {
    display: flex;
}

.play_button,
.info_button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.play_button {
    background-color: white;
    border-radius: 4px;
}

.info_button {
    color: white;
    background-color: gray;
    border-radius: 4px;
}

h2 {
    color: whitesmoke;
}

/* ----- ----- ----- Estilos para las pruebas ----- ----- -----*/

.contenedor {
    width: 90%;
    margin: auto;
}

/* ----- ----- ----- Contenedor Titulo y Controles ----- ----- -----*/

.contenedor_titulo_controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor_titulo_controles h3 {
    color: white;
    font-size: 30px;
}

/* ----- ----- ----- Contenedor principal y flechas ----- ----- -----*/

 .peliculas_recomendadas {
     margin-bottom: 70px;
 }

 .peliculas_recomendadas .contenedor_principal {
     display: flex;
     align-items: center;
     position: relative;
 }

 .peliculas_recomendadas .contenedor_principal .flecha_izquierda,
 .peliculas_recomendadas .contenedor_principal .flecha_derecha {
     position: absolute;
     border: none;
     background: rgba(0, 0, 0, 0.3);
     font-size: 40px;
     height: 50%;
     top: calc(50% - 25%);
     line-height: 40px;
     width: 50px;
     color: white;
     cursor: pointer;
     z-index: 500;
     transition: .2s ease all;
 }

.peliculas_recomendadas .contenedor_principal .flecha_izquierda:hover,
.peliculas_recomendadas .contenedor_principal .flecha_derecha:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.peliculas_recomendadas .contenedor_principal .flecha_izquierda {
    left: 0;
    /*margin-left: 0;*/
}

.peliculas_recomendadas .contenedor_principal .flecha_derecha {
    right: 0;
    margin-right: 0;
}

/* ----- ----- ----- Carousel ----- ----- -----*/

 .peliculas_recomendadas .contenedor_carousel {
     width: 100%;
     padding: 20px 0;
     overflow: hidden;
     scroll-behavior: smooth;
 }

.peliculas_recomendadas .contenedor_carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas_recomendadas .contenedor_carousel .carousel .pelicula {
    min-width: 25%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3 );
}

.peliculas_recomendadas .contenedor_carousel .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas_recomendadas .contenedor_carousel .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
}